.ms-DetailsHeader-cell.Konsept,
.ms-DetailsHeader-cell.Initiering,
.ms-DetailsHeader-cell.driftsfase,
.ms-DetailsHeader-cell.Avklare,
.ms-DetailsHeader-cell.Overlevering,
.ms-DetailsHeader-cell.Realisere {
  color: #0072c6;
}

.ms-TooltipHost {
  width: 500px;
  .ms-TooltipHost-inner {
    padding: 30px;
    .title {
      font-weight: normal;
      word-wrap: break-word;
      max-width: 400px;
    }
  }
}

.ms-DetailsHeader-cell.Planlegge,
.ms-DetailsHeader-cell.Gjennomføre,
.ms-DetailsHeader-cell.Prosjektering,
.ms-DetailsHeader-cell.Anleggsfase,
.ms-DetailsHeader-cell.Overtakelse,
.ms-DetailsHeader-cell.Konseptutvikling,
.ms-DetailsHeader-cell.Detaljprosjektering,
.ms-DetailsHeader-cell.Utførelse,
.ms-DetailsHeader-cell.Avslutte {
  color: #393;
}
